/* base clases */
.flex {
    display: flex;
}

/* header styles */

body {
    background-color: #ccffe6;
}
.logo {
    max-width:80px;
    width: 100%;
}
.header-logo {
    width: 100%;
    border-radius: 50px;
}
.header {
    max-width: 1370px;
    width: 100%;
    position: fixed;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    background-color: #ccffe6;
    z-index: 20;

}
.nav-ul{
    justify-content: space-between;
    align-items: center;
    font-family: 'ALK Rounded Mtav Med';
    font-weight: bolder;
}
.nav-li {
    font-size: 20px;
    font-weight: bolder;
}
.nav-li:not(.lastli) {
    margin-right: 50px;
    
}
.headerli {
    color: #006633;
}
.calculator-wrapper {
    align-items: center;
    font-family: 'ALK Rounded Mtav Med';
    color: #006633;
    font-size: 20px;
    font-weight: bold;
    max-width: 400px;
    width: 100%;
}

.calculator {
    max-width: 60px;
    width: 100%;
    height: 60px;
    border-radius: 50px;
    background-color: #00b33c;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    margin-left: 20px;

}
.headerli:hover {
    color: #006600;
    background-color: #ffffff;
}

/* section 1 */
.container {
    max-width: 1370px;
    width: 100%;
    margin: 0 auto;
    padding-top: 150px;
}
.sectiondiv1 {
    max-width: 350px;
    width: 100%;
    height: 350px;
    border-radius: 300px;
    background-color: #ffffffff;
    position: relative;
    animation: div 8s infinite ;
}
.left-block {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    
}
.sectiondiv2 {
    max-width: 350px;
    width: 100%;
    height: 350px;
    border-radius: 300px;
    background-color: #ffffffff;
    position: relative;
    animation: div2 7s infinite;
    margin-left: 200px;
    margin-top:-200px;
}
.sectiondiv3 {
    max-width: 350px;
    width: 100%;
    height: 350px;
    border-radius: 300px;
    background-color: #ffffffff;
    position: relative;
    animation: div 9s infinite;
    margin-left: 100px;
    margin-top: -100px;

}

@keyframes div {
    0%   {top: 0px; left: 0px;}
    25%  {top: 0px; left: 100px;}
    50%  {top: 100px; left: 100px;}
    75%  {top: 100px; left: 0px;}
    100% {top: 0px; left: 0px;}
  }
  @keyframes div2 {
    0%   {top: 0px; left: 0px;}
    25%  {top: 0px; left: 70px;}
    50%  {top: 70px; left: 70px;}
    75%  {top: 70px; left: 0px;}
    100% {top: 0px; left: 0px;}
  }
  @keyframes div3 {
    0%   {top: 0px; left: 0px;}
    25%  {top: 0px; left: 90px;}
    50%  {top: 90px; left: 90px;}
    75%  {top: 90px; left: 0px;}
    100% {top: 0px; left: 0px;}
  }
  .right-block img {
    max-width: 500px;
    width: 100%;
    border-radius: 20px;
  }
  .right-block {
    position: absolute;
    padding-top: 150px;
    padding-left: 100px;
    align-items: center;
  }
  .cal h3 {
    font-size: 35px;
    margin-bottom: 15px;
    color: #b32d00;
    font-weight: bolder;
    margin-left: 50px;
  }
  .cal p {
    color:  #00664d;
    margin-bottom: 10px;
    margin-left: 15px;
  }
  .cal span {
    font-size: 20px;
    color:  #00664d;
    margin-left: 15px;
  }
  .order {
    margin-top: 30px;
    margin-left: 15px;
    border-radius: 20px;
    border: 2px solid #b32d00;
    max-width: 150px;
    width: 100%;
    height: 40px;
    justify-content: center;
    align-items: center;
  }
  .odrer1 {
    color: #b32d00;
  }

  /* section2 */

  .cal2 h3{
    color: #ff8000;
    font-size: 35px;
    margin-bottom: 15px;
    font-weight: bolder;
    margin-left: 50px;
  }
  .cal2 p {
    color:  #00664d;
    margin-bottom: 10px;
    margin-left: 15px;
  }
  .cal2 span {
    font-size: 20px;
    color:  #00664d;
    margin-left: 15px;
  }
  .order2 {
    border: 2px solid #ff8000;
  }
  .sheuk{
    color: #ff8000;
  }

  /* section 3 */
  .cal3 h3{
    color: #1f7a1f;
    font-size: 35px;
    margin-bottom: 15px;
    font-weight: bolder;
    margin-left: 50px;
  }
  .cal3 p {
    color:  #00664d;
    margin-bottom: 10px;
    margin-left: 15px;
  }
  .cal3 span {
    font-size: 20px;
    color:  #00664d;
    margin-left: 15px;
  }
  .order4 {
    border: 2px solid #1f7a1f;
  }
  .sheukvete {
    color: #1f7a1f ;
  }

  /* section 4 */
  .cal4 h3{
    color: #e6e600;
    font-size: 35px;
    margin-bottom: 15px;
    font-weight: bolder;
    margin-left: 50px;
  }
  .cal4 p {
    color:  #00664d;
    margin-bottom: 10px;
    margin-left: 15px;
  }
  .cal4 span {
    font-size: 20px;
    color:  #00664d;
    margin-left: 15px;
  }
  .order5 {
    border: 2px solid #e6e600;
  }
  .sheukvet {
    color: #e6e600;
  }

  /* footer */
  .footer-div {
    background-color:	 #ffffb3;
    width: 100%;
    height: 300px;
  }
  .div-foot {
    max-width: 1370px;
    width: 100%;
    margin: 0 auto;
    padding-top: 70px;
    display: flex;
    justify-content:flex-end;
 
  }
  .right-box {
    font-family: 'ALK Rounded Mtav Med';
    font-size: 19px;
    width: 300px;
  }
  .email {
    color: #006600;
  }
  .tel {
    color: #006600;
  }

  /* cal1500 */
  .form1 {
    max-width: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-left: 15px;
  }
  .sort {
    margin-top: 15px;
  }